<div class=“row row-cols-1 row-cols-md-2 g-4”>
    {{#each animes}}
    <div class=“col”>
        <div class=“card”>
            <img src=“{{img}}” class=“card-img-top” alt=“...“>
            <div class=“card-body”>
                <h5 class=“card-title”> {{name}} </h5>
                <p class=“card-text”> {{description}} </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>